<navbar></navbar>

<div class="container pt-100 mb-5">
  <div class="row">
    <div class="col-md-3">
      <div class="list-group">  
        <a href="" class="list-group-item list-group-item-action">Item 1</a>
        <a href="" class="list-group-item list-group-item-action">Item 2</a>
        <a href="" class="list-group-item list-group-item-action">Item 3</a>
        <a href="" class="list-group-item list-group-item-action">Item 4</a>
        <a href="" class="list-group-item list-group-item-action">Item 5</a>
      </div>
    </div>
    <div class="col-md-9">
      <product-list [data]="products"></product-list>
    </div>
  </div>
</div>
