<div class="container">
  <div class="row">
    <div class="col-5 mx-auto">
      <h3 class="bg-primary text-white p-3">
        {{ getName() }}' todo list
      </h3>

      <div class="input-group mb-3">
        <input type="text" class="form-control"
          [(ngModel)]="inputText"
          (keyup.enter)="addItem();">
        <button
        [class]="getBtnClasses()"
        class="btn"
        (click)="addItem();">Add</button>
      </div>

      <div class="form-check mb-3">
        <input type="checkbox" [(ngModel)]="displayAll" class="form-check-input" name="" id="displayAll">
        <label for="displayAll" class="form-check-label">Hepsini Göster</label>
      </div>

      <div class="my-2">
        {{ displayCount() }} görev tamamlandı.
      </div>

      <div class="alert alert-warning" *ngIf="getItems().length == 0 else itemsTable">
        Tüm görevler tamamlandı.
      </div>

      <ng-template #itemsTable>

        <table class="table table-bordered">
          <thead>
            <tr>
              <th></th>
              <th>Description</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of getItems(); let i = index;" [class]="{ 'bg-primary': item.action, 'bg-warning': !item.action }">
              <td>{{ i+1 }}</td>
              <td>{{ item.description }}</td>
              <td>

                <div *ngIf="item.action; then yesTemplate else noTemplate">
                  Burası gösterilmez.
                </div>

                <ng-template #noTemplate>
                  No
                </ng-template>

                <ng-template #yesTemplate>
                  Yes
                </ng-template>


              </td>
              <td>
                <input type="checkbox" [(ngModel)]="item.action" name="" id="">
              </td>
            </tr>
          </tbody>
        </table>

      </ng-template>


    </div>
  </div>
</div>
