<nav class="navbar navbar-expand-md navbar-dark bg-primary">
  <div class="container">
    <a href="/" class="navbar-brand">Movie App</a>
    <ul class="navbar-nav me-auto">
      <li *ngIf="isAuthenticated" class="nav-item">
        <a href="" class="nav-link active">Home</a>
      </li>
      <li *ngIf="isAuthenticated" class="nav-item">
        <a routerLink="/movies" class="nav-link">Movies</a>
      </li>
      <li *ngIf="isAuthenticated" class="nav-item">
        <a routerLink="/movies/create" class="nav-link">Create Movie</a>
      </li>
      <li *ngIf="isAuthenticated" class="nav-item">
        <a routerLink="/categories/create" class="nav-link">Create Category</a>
      </li>
    </ul>
    <ul class="navbar-nav">
      <li *ngIf="!isAuthenticated" class="nav-item">
        <a  routerLink="/auth" class="nav-link">Login</a>
      </li>
      <li *ngIf="isAuthenticated" class="nav-item">
        <a (click)="onLogout()" class="nav-link">Logout</a>
      </li>
    </ul>
  </div>
</nav>
