<div class="container-fluid">
    <div class="row">
        <div class="col bg-primary p-2 text-white">
            Admin Panel
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-3">
            <button routerLink="/shop" class="btn btn-outline-info btn-block">Shop</button>
       
            <button routerLinkActive="active" routerLink="/admin/main/products" class="btn btn-outline-info btn-block">Products</button>
            <button routerLinkActive="active" routerLink="/admin/main/categories" class="btn btn-outline-info btn-block">Categories</button>
            <button routerLinkActive="active" routerLink="/admin/main/orders" class="btn btn-outline-info btn-block">Orders</button>

            <button (click)="logout()" class="btn btn-outline-danger btn-block">Logout</button>
        </div>
        <div class="col-9">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>