<div class="card mb-3">
  <div class="row">
    <div class="col-md-3">
      <img src="/assets/img/1.jpeg" class="img-fluid rounded-start" alt="">
    </div>
    <div class="col-md-9">
      <div class="card-body">
        <h2 class="card-title">Film 1</h2>
        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis, nostrum.</p>
        <button class="btn btn-sm btn-outline-primary">Details</button>
      </div>
    </div>
  </div>
</div>

<div class="card mb-3">
  <div class="row">
    <div class="col-md-3">
      <img src="/assets/img/2.jpeg" class="img-fluid rounded-start" alt="">
    </div>
    <div class="col-md-9">
      <div class="card-body">
        <h2 class="card-title">Film 2</h2>
        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis, nostrum.</p>
        <button class="btn btn-sm btn-outline-primary">Details</button>
      </div>
    </div>
  </div>
</div>


<div class="card mb-3">
  <div class="row">
    <div class="col-md-3">
      <img src="/assets/img/3.jpeg" class="img-fluid rounded-start" alt="">
    </div>
    <div class="col-md-9">
      <div class="card-body">
        <h2 class="card-title">Film 3</h2>
        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis, nostrum.</p>
        <button class="btn btn-sm btn-outline-primary">Details</button>
      </div>
    </div>
  </div>
</div>

